name: Shellcheck CI

on:
  push:
    branches: [ "master" ]
  pull_request:
    branches: [ "master" ]

jobs:
  test:
    runs-on: ubuntu-latest

    steps:
    - uses: actions/checkout@v3

    - name: Install shellcheck
      run: sudo apt-get install -y shellcheck

    - name: Check shell scripts for errors
      run: make -f Makefile.lint shellcheck

# End of file.
